/* styles.css */

.body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #6B7280;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: #004225;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  main {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    color: #fff;
  }
  .i1 {
    width: 1100px;
    height: 300px;
    
  }
  
  .state{
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }

.quizbutton{
  border: 1px solid transparent;
  
}

.button-container {
  display: flex;
  margin-top: 50px;
  display:  inline;
}

.quizbutton {
  margin: 0 10px;
  background-color: #004225;
  margin-top: 30px;
}


.img0{
    height: 100px;
    width: 250px;
    margin: 0%;
    padding: 0%;
    margin-right: 200px;

  }

  h1.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
  }

.img1{
  margin-left: 350px;
  height: 80px;
  width: 150px;
}

button{
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.llimg{
  text-align: center;
  height: 400px;
  width: 1100px;
}
